{{assign
  navItemActiveClass='block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 bg-gray-200 rounded-lg dark-mode:bg-gray-700 dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline'
  navItemClass='block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline'
  childNavItemClass='block px-4 py-2 pl-6 mt-2 text-sm text-gray-900 bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline'
}}

<nav
  :class="{'block': open, 'hidden': !open}"
  class="flex-grow md:block px-4 pb-4 md:pb-0 md:overflow-y-auto {{cssClasses}}">
  {{!-- this cycles through pages on the root path, ordering by 'page.order' property of page metadata  --}}
  {{#each (routes-flat (route-root) 'page.order')}}
    {{#if (route-isCurrent true url)}}
      <a class="{{@navItemActiveClass}}" href="{{location}}">{{page.name}}</a>
    {{else}}
      <a class="{{@navItemClass}}" href="{{location}}">{{page.name}}</a>
    {{/if}}

    {{#if page.hasChildren}}
    {{!-- <p>get: {{JSON (get @root.data key)}}</p> --}}
    {{!-- <p>extract: {{JSON (data-each (get @root.data key))}}</p> --}}
    {{!-- <p>extract: {{JSON (extract @root.data 'structure')}}</p>
    <p>data-each: {{JSON (data-each @root.data 'structure')}}</p>
    <p>data-extract: {{JSON (extract-many @root.data key)}}</p> --}}
      {{#each (data-each (get @root.data key) 'page.order')}}
        <a class="{{@childNavItemClass}} pl-8"
          href="{{../location}}#{{key}}">{{page.name}}</a>
      {{/each}}
    {{/if}}
    {{!-- {{> aside }} --}}
  {{/each}}
  
  {{> controls.dropdown
    items=(arraify
      (objectify href='gino 1' label='Labello 1')
      (objectify href='gino 2' label='Labello 2')
      (objectify nhref='gino 3' label='Labello 3')
    )
  }}
</nav>

{{unassign 'navItemActiveClass' 'navItemClass' 'childNavItemClass' }}